<div class="fotorama" data-loop="true" data-width="100%" data-height="300">
    <?php foreach ($this->getOffers() as $offer) { ?>
        <div class="slide-container">
            <div class="element column1">
                <img class="slide-image" src="<?= $this->getImageUrl($offer->getImage());?>"/>
            </div>
            <div class="element column2">
                <h2><?= $offer->getTitle();?> </h2>
                <p><?= $offer->getDescription();?> </p>
            </div>
            <div class="element column3">
                <a href="<?= $offer->getLink(); ?>" class="action primary">En savoir plus</a></div>
        </div>
    <?php } ?>
</div>
