.slide-container .element {
    width: 35%;
    display: inline-block;
}

.slide-container .element.column1 {
    line-height: 300px;
}
.slide-container .element.column1 .slide-image {
    vertical-align: middle;
}
.slide-container .element.column2 {
    vertical-align: top;
    padding: 0px 15px 15px 15px;
}
.slide-container .element.column2 h2 {
    margin-top: 0px;
}
.slide-container .element.column2 p {
    max-height: 220px;
    overflow: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
/* Hide scrollbar for Chrome, Safari and Opera */
.slide-container .element.column2 p::-webkit-scrollbar {
    display: none;
}
.slide-container .element.column3 {
    width: 25%;
    text-align: center;
    line-height: 300px;
}
.slide-container .element.column3 a, .slide-container .element.column3 a:hover {
    color:white;
    vertical-align: middle;
    line-height: 20px;
}
